<a href="https://colab.research.google.com/github/Starllette/serrano/blob/main/Variables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python variables

Variables are human-friendly names of memory locations

## Objective
1. Understand how to define variables in Python.
2. Gain a clear understanding of how the Python interpreter allocates memory addresses to variables.
3. Skilled in troubleshooting techniques.

## Prerequisite

- Python literals lecture & lab
- Programming variables lecture

## What do you need to complete this exercise?

You can perform this exercise in any Python IDE, including JupyterLab or Google Colab.

### Variable definition

No need to declare the variable data type; variables can be assigned values or strings as needed.

In [ ]:
var1 = 10 # integer
print(type(var1)) # var1 holds integer data type
var2 = 100.0 # float
print(type(var2))  # var2 holds float data type
print(var1 * var2)  # var1 * var2 - float data type
str1 = "Hello World"
type(str1)
print(str1)
str2 = 'Single quote can also be used'
type(str2)
print(str2)
var1 = "Now I am a string data type"
del(var1) # delete the var1

<class 'int'>
<class 'float'>
1000.0
Hello World
Single quote can also be used

### Variable memory usage

In [ ]:
var1 = 10

In [ ]:
var1=42
print(hex(id(var1)))

In [ ]:
var1 = 100
print(hex(id(var1)))

In [ ]:
print(hex(id(var1)))

You should see two distinct addresses for var1. Explain why there are two different addresses and what happened to the first one.

there are 2 different addresses becuase if var 1 is reassigned in python it will create a new different address. and when the first assignment was at 0 it can be cleared from the memory which leads to it creating a whole new one.

In [ ]:
var2 = 100
# Write your print statement
# Check the memory address of var2. Did the Python interpreter assign a new memory address or reuse the existing one?

In [ ]:
print(hex(id(var2)))

### Memory map

In [ ]:
str1 = "Hello"
str2 = "World"

In [ ]:
# Find out the memory addresses of each character in str1 and str2.
# The following is the example

In [ ]:
ow.print(hex(id(str1[0])), hex(id(str1[1])))  # where 0 is the first index and 1 is the second index
# Use the same method as described above to find the addresses of additional characters and complete the table bel

| Address in hexadecimal | Char |
| ---------------------- | ---- |
| #                      |      |
| #                      |      |
| #                      |      |
| #                      |      |
| #                      |      |
| #                      |      |
| #                      |      |
| #                      |      |
| #                      |      |
| #                      |      |

### Problem-solving

 Let the variable ```x``` be ```dog``` and the variable ```y``` be ```cat```. Write the values returned by the following operations: **Try solving without writing in Python.**  
-  x + y  
-  "the " + x + " chases the " + y  
-  x * 4

"dogcat"

"the dog chases the cat"

"dogdogdogdog"

If ```x = 50```. Use an assignment statement to increment the value of ```x``` by 1.

In [ ]:

x += 1
print(x)

### Troubleshooting

Please troubleshoot the following issue **without using Python**, and explain your reasoning.

a. ```hello = "hello"```  
b. ```_var = 100```  
c. ```!var_1 = 200```  
d. ```print = "print me"```  
e. ```False = 0```

A there is no issue becuase this assignment follows the rules

b there is no issue becuase the variable starts properly

c it is not valid becuase the variable starts with an !

D the variable is valid but the output isnt becuase it does not match

e it is a error

## Challenges

one major challenge is the chart I couldnt even complete the chart I really did struggle on it and I still dont get it but I do get everything else.